# Logs
logs
*.log

# Compiled files
*.class
*.dll

# Cache files
*.cache

# Dependency files
node_modules
yarn.lock

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?