// CONSTANT.scss

// 赤黑配色
$reddishBlack-first: rgb(rgb(230, 122, 130));
$reddishBlack-second: rgb(181, 112, 132);
$reddishBlack-third: rgb(105, 92, 121);
$reddishBlack-fourth: rgb(62, 91, 122);

// 黛紫配色
$pastelPurple-first: rgb(243, 238, 254);
$pastelPurple-second: rgb(219, 214, 244);
$pastelPurple-third: rgb(168, 177, 221);
$pastelPurple-fourth: rgb(76, 72, 113);
