// Divination.scss
// 修改样式文件，用于设置占卜界面的样式
// 该文件位于src/routes文件夹下

// 设置卡牌的基本样式
// .card {
//     width: 100px;
//     height: 150px;
//     border: 1px solid black;
//     margin: 10px;
//     padding: 5px;
//   }
  
  // 设置卡牌被反转时的样式
  .card-reversed {
    transform: rotate(180deg);
  }
  
  // 设置卡牌被翻面时的样式
  .card-flipped {
    background-color: gray;
  }
  
.cardArray{
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  // 新增一个样式，用于设置卡牌容器的样式
  .cards-container {
    display: grid; // 使用grid布局，让卡牌按照固定的行列排列
    grid-template-columns: repeat(13, minmax(0, auto)); // 设置每行有13列，每列自适应宽度
    grid-auto-rows: minmax(0, auto); // 设置每行自适应高度
  }
  
  // 新增一个样式，用于设置容器容器的样式
  .containers-container {
    display: flex;
  }

  .cardDesktop{
    display: flex;
    flex-wrap: wrap; 
  }